on fs
    chmod 0777 /dev/qseecom
    chmod 0777 /dev/ion

# The above chmod commands fail to apply for some reason so we use a shell script to apply perms then run the service
service sbinqseecomd /sbin/qseecomd.sh
    oneshot
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

on property:ro.crypto.state=encrypted
    start sbinqseecomd
